In [1]:
import numpy as np
from numba import njit,jit

import pandas as pd

from sympy import *
from sympy.ntheory import factorint
from sympy import factorint, Mul, primefactors, sqrt
from sympy import divisors

For denominator q, the period length is the smallest k such that q divides 10^kâ€“1. 

E.g. for 41, the period length is 5 because 41 divides 99999.

In [2]:
z_list=[]
for n in range(1, 1000):
    f = factorint(n)
    n_res = n
    if 2 in f.keys():
        n_res = int(n_res/pow(2,f[2]))
    if 5 in f.keys():
        n_res = int(n_res/pow(5,f[5]))

    if n>1:
        k = 1
        f = 10
        cont=True
        while cont:
            if (f-1)%n_res==0:
                cont=False
            f=f*10
            k+=1
        z_list.append((n, k-1))
        
z_df = pd.DataFrame(z_list, columns=["n","period"])

In [3]:
z_df[z_df.period==max(z_df.period)]

       n  period
981  983     982